name: GPR release
on:
  release:
    types: [published]

jobs:
  artifact-build:
    name: Artifact
    uses: ./.github/workflows/template-build.yml

  publish:
    name: Publish on GPR
    needs: artifact-build
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Downloading the artifact
        uses: actions/download-artifact@v7
        with:
          name: byloth-core

      - name: Configuring Node.js 22 (LTS)
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/

      - if: ${{ github.event.release.prerelease == true }}
        name: Publishing pre-release package
        run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ github.event.release.prerelease == false }}
        name: Publishing latest package
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
