name: "<template:build>"
on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Cloning source code
        uses: actions/checkout@v6
      - name: "`pnpm` installation"
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Configuring Node.js 22 (LTS)
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: 22

      - name: Installing dependencies
        run: pnpm run ci
      - name: Linting the source code
        run: pnpm run lint
        env:
          NODE_ENV: production

      - name: Checking type consistency
        run: pnpm run typecheck
      - name: Testing the source code
        run: pnpm run test
      - name: Building the source code
        run: pnpm build
      - name: Creating the artifact
        run: |
          PACKAGE_VERSION=`node -e "console.log(require('./package.json').version);"`
          PACKAGE_NAME="byloth-core-${PACKAGE_VERSION}.tgz"
          pnpm pack
          tar -xzvf "${PACKAGE_NAME}" -C "."

      - name: Uploading the artifact
        uses: actions/upload-artifact@v6
        with:
          name: byloth-core
          path: package
